<?xml version="1.0"?>
<DHCPServer networkName="MYNetwork" trunkType="whatever" IPAddress="10.10.1.1" lowerIP="10.10.1.2" upperIP="10.10.1.20" leasesFilename="/home/ghertel/.config/VirtualBox/MYNetwork-Dhcpd.leases" networkMask="255.255.255.0">
  <Options>
    <Option name="1" encoding="0" value="255.255.255.0"/>
  </Options>
</DHCPServer>
